@use "src/styles/_variables" as *;
@use "src/styles/main" as main;

.header-desktop {

  --sides-padding: 100px;

  @media (max-width: #{$desktopM}px) {
    --sides-padding: #{responsive-size($size: 60, $device-width: $desktopM, $min-width: 16)};
  }

}

.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--color-surface);
  opacity: 1;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  height: var(--header-height);

  .container {
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    padding: 20px var(--sides-padding);
    margin: auto;

    .logo {
      width: 150px;
    }

    .services {
      display: flex;
      align-items: center;
      gap: 52px;

      .service {
        font-family: var(--font-montserratarm-extra-light);
        font-size: var(--font-size-body);
        color: var(--color-text);
        transition: color 0.3s ease, text-shadow 0.3s ease;

        &:hover {
          color: var(--black);
          text-shadow: 0 0 0.5px var(--black);
        }
      }

      .contact-us {
        @extend .button-primary;

        font-family: var(--font-montserratarm-medium);
        color: var(--white);
        padding: 0 18px;

        &:hover {
          text-shadow: unset;
          color: var(--white);
        }
      }
    }

  }

}