@font-face {
  font-family: "MontserratArmBold";
  src: local("montserratarm"),
  url("../main/fonts/montserratarm/montserratarm-bold.otf");
}

@font-face {
  font-family: "MontserratArmMedium";
  src: local("montserratarm"),
  url("../main/fonts/montserratarm/montserratarm-medium.otf");
}

@font-face {
  font-family: "MontserratArmRegular";
  src: local("montserratarm"),
  url("../main/fonts/montserratarm/montserratarm-regular.otf");
}

@font-face {
  font-family: "MontserratArmLight";
  src: local("montserratarm"),
  url("../main/fonts/montserratarm/montserratarm-light.otf");
}

@font-face {
  font-family: "MontserratArmExtraLight";
  src: local("montserratarm"),
  url("../main/fonts/montserratarm/montserratarm-extra-light.otf");
}